# Directories to ignore
Data/Demo-Images/
Data/RBNR/
Data/SVHN/
Data/test_annotated/
Data/Validation/
Data/YOLO/standard/
Data/YOLO/unused/
__pycache__/

# Files to ignore
Data/output.mp4
Data/demo_img*.JPG
